body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #87d5f6;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input_box {
    position: relative;
    margin-bottom: 30px;
}

.input_box input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.input_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #aaa;
    transition: 0.3s;
}

.input_box input:focus + label,
.input_box input:valid + label {
    top: -20px;
    left: 0;
    color: #3498db;
    font-size: 12px;
}

.login_button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_button:hover {
    background-color: #2980b9;
}
